$radius: 3px;
@mixin background-gradient(){
  background: #ffffff; /* Old browsers */
  background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.calendar-label{
  position: relative;
  display: inline-block;
  background: gainsboro;
  border-radius: $radius;
  margin: 5px;
  border: 1px solid gainsboro;
  .calendar-label-btn{
    width: 100px;
    text-align: center;
   @include background-gradient();
  }
  .calendar-label-ico{
    width: 30px;
    height: 100%;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    cursor: pointer;
    padding: 0;
    border-left: 1px solid gainsboro;
    @include background-gradient();
    &:active{
      background: #ffffff;
      box-shadow: inset  0 0 10px gainsboro;
      -moz-user-select: none;
      -o-user-select:none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .ico-calendar{
    background: url("../img/calendar.png") no-repeat center;
    padding: 5px 10px;
    background-size: 70% 70%;
  }
  &>div{
    display: inline-block;
    padding: 5px 10px;

  }

}
.calendar-label .calendar-view{
  position: absolute;
  background: #FFF7E6;
  top: 30px;
  left: 100px;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 10px gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  border-radius: 3px;
  .container-months{
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    background: #ffffff;
  }
  .block-month{
    margin: 5px;
    display: inline-block;
    min-width: 160px;
    min-height: 160px;
   // border: 1px solid gainsboro;
    overflow: hidden;
    .col-day{
      border-radius: 3px;
    }
  }
  .info-block{
    padding: 10px;
    text-align: center;
  }
  .col-day{
    cursor: pointer;

    padding: 2px;
  }
  .red{
    color: red;
  }
  .name-month{
    font-style: italic;
    margin-left: 5px;
  }
  .numeric{
    .col-day{
      &:hover{
        background: ghostwhite;
      }
    }
    .current{
      background: rgb(255, 228, 144);
      &:hover{
        background: #ffcf78;
      }
    }
  }
  .days{
    border-bottom: 1px solid ghostwhite;
  }

}